mat-form-field { 
    width: 100%;
}

td { 
    padding: 8px;
}

button {     
    width: 90px;
    padding: 0.25rem 0.25rem;
    margin: 1rem 0;
    letter-spacing: 1px;
}
.mat-mdc-raised-button:not(:disabled) {
    color: #fff;
  }
.mat-mdc-raised-button:not(:disabled) {
    background-color: #0d6efd;
}